<div class="main">
  <div class="header">
    <app-header-root></app-header-root>
  </div>
  <div class="container">
    <div class="menu">
      <app-menu-root></app-menu-root>
    </div>
    <div class="content">
      <div class="item">Flex Itemqqqqqqqqqqqqqq 21</div>
      <div class="item">Flex Itemqqqqqqqqqqqqqqqqqq 31</div>
      <div class="item">Flex Itemqqqqqqqqqqqqqqqqqqqqqq 41</div>
      <div class="item">Flex Item 51</div>
      <div class="item">Flex Itemqqqqqqqqqqqqqq 21</div>
      <div class="item">Flex Itemqqqqqqqqqqqqqqqqqq 31</div>
      <div class="item">Flex Itemqqqqqqqqqqqqqqqqtqqqqqq 41</div>
      <div class="item">Flex Item 51</div>
    </div>
  </div>
</div>

